:host {
  position: relative;
  float: right;
  z-index: 2;
  border: 5px solid black;
  border-radius: 30pt;
  width: 600pt;
  height: 400pt;
  overflow: hidden;
  overflow-y: auto;
  margin-top: 20pt;
  margin-right: 10pt;
  background-color: rgb(245, 245, 245);
}

.link-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25pt;
}

.link-form {
  display: flex;
  justify-content: center;
  margin-top: 8pt;
}
