:host {
  position: relative;
  float: right;
  z-index: 2;
  border: 3px solid black;
  border-radius: 20pt;
  width: 650pt;
  height: 400pt;
  overflow: hidden;
  overflow-y: auto;
  background-color: rgb(245, 245, 245);
  margin-top: 7pt;
  margin-right: 7pt;
}

.link-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-top: 8pt;
}
