.host-div {
  width: 36rem;
  height: 5rem;
  border: solid 0.2rem white;
  z-index: 3;
  float: left;
  position: absolute;
  top: 25rem;
  left: 40pt;
  border-radius: 3rem;
  overflow: hidden;
}

.button-controls {
  display: flex;
  flex-direction: row;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  border-radius: 50%;
  background-color: white;
  margin: 0.7rem;
  margin-left: 2rem;
}

.buttons:hover {
  transform: scale(1.05);
}

.buttons > img {
  transform: scale(0.8);
}
