@font-face {
  font-family: "Orbitron";
  src:
    local("Orbitron"),
    url("./../../../assets/Orbitron-VariableFont_wght.ttf") format("truetype");
}

.clock-frame {
  width: 47rem;
  height: 21rem;
  margin: 0;
  padding: 0;
}

.date-and-time-strings {
  font-family: "Orbitron", cursive, sans-serif;
  font-weight: bolder;
  text-align: center;
  text-shadow: 0.5rem 0.5rem 0.4rem black;
  color: white;
}

.time-string {
  font-size: 8rem;
  margin: 0;
}

.date-string {
  font-size: 3.5rem;
  margin: 1rem;
}

.day-string {
  font-size: 2.5rem;
  margin: 0.7rem;
}
