@font-face {
  font-family: "Material Icons";
  src: url("../../../assets/MaterialIcons-Regular.ttf");
}

dialog {
  position: absolute;
  display: flex;
  flex-flow: column;
  z-index: 4;
  width: 40rem;
  height: 20rem;
  box-shadow: 0.2rem 0.2rem 0.4rem #111;
  background-color: whitesmoke;
  top: 10%;
  margin: 2;
}

h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.button-set {
  display: flex;
  justify-content: right;
}

mat-icons {
  font-family: "Material Icons";
}

button {
  margin: 0.7rem 0.5rem 0 0.5rem;
}

mat-form-field {
  width: calc(90%);
}
